/*===================================
=            Scaffolding            =
===================================*/

* { box-sizing: border-box; }

*:before,
*:after { box-sizing: border-box; }

html,
body { overflow-x: hidden; }

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

h1,
h2,
h3 {
  padding: .625rem;
  font-weight: 300;
  margin: 0;
}

/*-----  End of Scaffolding  ------*/

/*===============================
=            Sidebar            =
===============================*/

/* Style and "hide" the sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -16rem;
  width: 16rem;
  visibility: hidden;
  overflow-y: auto;
  background-color: rgba(#fafafa, .95);
  transition: all .3s ease-in-out;
}

@media (min-width: 54rem) {
  .sidebar {
    left: 0;
    z-index: 1000;
    visibility: visible;
  }
}

/* Sidebar content */
.sidebar a {
  color: #444;
  text-decoration: none;
}

/* Sidebar nav */
.sidebar-nav-item {
  display: block;
  padding: .625rem 1rem;
}

.sidebar-nav-item.add {
  text-align: center;
  color: #999;
}

.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  color: #fff;
  background-color: #39f;
}

/* Sidebar footer */
.sidebar-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .625rem 1.25rem;
}

.sidebar-footer .left { float: left; }
.sidebar-footer .right { float: right; }

/* Hide the sidebar checkbox that we toggle with `.sidebar-toggle` */
.sidebar-checkbox { display: none; }

/* Style the `label` that we use to target the `.sidebar-checkbox` */
.sidebar-toggle {
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
  margin: 0 .5rem;
  padding: .5rem;
  color: #39f;
  border-radius: 4px;
  cursor: pointer;
}

.sidebar-toggle:before {
  display: block;
  content: "";
  width: 100%;
  padding-bottom: .125rem;
  border-top: .375rem double;
  border-bottom: .125rem solid;
}

.sidebar-toggle:active,
#sidebar-checkbox:checked ~ .masthead .sidebar-toggle,
#sidebar:target + .masthead .sidebar-toggle {
  color: #fff;
  background-color: #39f;
}

.wrap,
.sidebar,
.masthead { backface-visibility: hidden; }

.wrap,
.masthead { transition: transform .3s ease-in-out; }

#sidebar-checkbox:checked ~ .sidebar,
#sidebar:target { visibility: visible; }

#sidebar-checkbox:checked ~ .sidebar,
#sidebar-checkbox:checked ~ .wrap,
#sidebar-checkbox:checked ~ .masthead,
#sidebar:target,
#sidebar:target ~ .wrap,
#sidebar:target + .masthead { transform: translateX(16rem); }

/*-----  End of Sidebar  ------*/

/*================================
=            Masthead            =
================================*/

.masthead {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  padding: .5rem 0;
  background: rgba(250, 250, 250, 0.95);
}

@media (min-width: 54rem) {
  .masthead { display: none; }
}

.masthead-title {
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  color: #444;
}

/*-----  End of Masthead  ------*/

/*===============================
=            Content            =
===============================*/

.content {
  padding-top: 4.625rem;
}

@media (min-width: 54rem) {
  .content {
    padding-top: 0;
    padding-left: 16rem;
  }
}

@media (max-width: 54rem) {
  .content {
    margin: 0 3rem;
  }
}

/* Item container */
.items {
  margin: 0 auto;
}

.items:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 54rem) {
  .items {
    width: 32rem;
  }
}

@media (min-width: 65rem) {
  .items {
    width: 48rem;
  }
}

@media (min-width: 81rem) {
  .items {
    width: auto;
    margin: 0;
    padding: 0 1rem;
  }
}

/*-----  End of Content  ------*/

/*===================================
=              Item                 =
===================================*/

.item {
  width: 100%;
  margin: 1rem 0;
  text-align: center;
}

@media (min-width: 54rem) {
  .item {
    width: 15rem;
    margin: 1rem .5rem;
    float: left;
  }

  .item:after {
    content: "";
    display: table;
    clear: both;
  }
}

.item-header {
  border-radius: 10px 10px 0 0;
  background-color: #39f;
  color: #fff;
}

.item-body {
  padding: 1rem;
  border-radius: 0 0 10px 10px;
  border: solid #39f;
  border-width: 0 1px 1px;
}

.item-command {
  display: block;
  margin-bottom: .625rem;
  font-size: .75rem;
  color: #666;
}

.item-buttons { display: inline-block; }

.item-buttons:after {
  content: "";
  display: table;
  clear: both;
}

.item-button {
  float: left;
  width: 4rem;
  padding: .5rem;
  border: 1px solid #ccc;
  border-right-width: 0;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .25s ease;
}

.item-button:hover { color: #fff; }

.item-button:first-child { border-radius: 20px 0 0 20px; }
.item-button:last-child { border-radius: 0 20px 20px 0; }

.item-button.on:hover {
  background-color: #3BAB55;
  border-color: #3BAB55;
}

.item-button.on:hover + .item-button.off { border-left-color: #3BAB55; }

.item-button.off {
  border-right-width: 1px;
  border-radius: 0 20px 20px 0;
}

.item-button.off:hover {
  background-color: #A90011;
  border-color: #A90011;
}

/*-----  End of Item  ------*/